
.mt-50{
  margin-top: 50px;
}
.mb-50{
  margin-bottom: 50px;
}


.bg-teal-400 { 
  background-color: #26a69a;
}

.mainPanelEl2 a{
  text-decoration: none !important;
}


.fa {
      color: #ffc000;
}


/* Mobile menu */
  .filterEl2{
    display: none;
  }
.mainPanelEl2{
  display: block;
  padding: 100px 0 0 0;
  }

/* Tablet menu */
@media all and (min-width: 768px) {
  .filterEl2{
    display: none;
  }
  .mainPanelEl2{
    display: block;
    padding: 100px 20px 0 20px;
    }
}

/* Desktop menu (normalde 992px) */
@media all and (min-width: 1500px) {
  .filterEl2{
    position: absolute;
    float: left;
    width: 28%;
    margin-top: 100px;
    padding-left: 200px;
    display: block;
  }
  
.mainPanelEl2{
  display: block;
  padding: 100px 210px 0 550px;
  float: right;
  }
}