.formMain{
  padding: 0 210px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.form-container{
  width: 100%;
  padding: 15px;
  margin-top: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  background-color: #1b1b1b;
}

.labelTitle{
  color: #fb9700!important;
  font-size: 20px;
  font-weight: 700;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.geriDonButton{
  font-weight: 600;
  color: white;
  padding: 3px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.geriDonButton:hover {
  transition: 0.2s;
  background-color: #fb9700;
  color: #1b1b1b;
}

.btn-outline-light{
  background-color: #fb9700;
  color: #1b1b1b;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}