.card{
  display: block;
}
.col-sm-4{
  display: block;
}
/* Sehir Sec */
::selection{
  color: #fff;
  background: #4285f4;
}

.select-btn, li{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn{
  height: 65px;
  padding: 0 20px;
  font-size: 18px;
  background: #fff;
  border-radius: 5px;
  justify-content: space-between;
}
.select-btn i{
  font-size: 18px;
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}
.content{
  display: none;
  padding: 0 20px 20px 20px;
  margin-top: 1px;
  background: #fff;
  border-radius: 5px;
}
.wrapper.active .content{
  display: block;
}
.content .search{
  position: relative;
}
.search i{
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input{
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}
.search input:focus{
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder{
  color: #bfbfbf;
}
.content .options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.options li{
  height: 50px;
  padding: 0 2px 0 13px;
  font-size: 18px;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}
/* Ara Butonu */
.sticky-search-button{
letter-spacing: .01em;
font-stretch: normal;
font-style: normal;
font-variant: normal;
font-weight: normal;
line-height: normal;
text-size-adjust: none;
color: #fb9701;
padding: 10px 0 ;
background-color: rgba(255,255,255,0.8);
border-radius: 5px;
width: 304px;
box-shadow: 0 2px 3px rgba(0,0,0,0.2);
margin-left: 1px;
position: fixed;
z-index: 5;
bottom: 30px;
display: block;
}
.search-submit{
text-size-adjust: none;
letter-spacing: .01em;
padding: 9px 22px;
font-size: 18px;
font-weight: 900;
text-align: center;
vertical-align: middle;
cursor: pointer;
border: 1px solid #0a0a0a;
border-radius: 5px;
color: #0a0a0a;
background-color: #fb9701;
background-repeat: repeat-x;
background-image: -webkit-linear-gradient(top,#fb9701,#f4c300);
text-shadow: 1px 1px 0 #000;
box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1),0 2px 2px -1px rgba(0,0,0,0.15);
line-height: 1.3em;
outline: 0;
padding-right: 0;
padding-left: 0;
box-sizing: border-box;
width: 130px;
display: block;
}

/* Mobile menu */
.mainPanelMarket{
  padding-top: 90px;
}
.filterMarket{
  display: none;
}

/* Tablet menu */
@media all and (min-width: 768px) {
  .mainPanelMarket{
    padding-top: 90px;
  }
  .filterMarket{
    display: none;
  }
}

/* Desktop menu (normalde 992px) */
@media all and (min-width: 1500px) {
  .mainPanelMarket{
    padding-top: 90px;
    float: right;
    width: 100%;
    overflow: visible;
    margin-right: -180px;
  }
  .filterMarket{
    position: absolute;
    float: left;
    width: 28%;
    margin-top: 100px;
    padding-left: 200px;
    display: block;
  }
}