.profile-head {
  transform: translateY(5rem)
}

.blur-container {
  z-index: 1907;
}

.cover {
  
  background-color: #1b1b1b;
  background-size: cover;
  background-repeat: no-repeat;
}

.backgroundProfile{
  background-color: #fb9700;
  height: 80px;
  border-radius: 0 0 50px 10px;
}

.profileRealMainCard{
  padding: 0 210px;
}

.profileMainCard{
  width: 100%;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.profileCard{
  width: 100%;
}

.img-thumbnail{
  width: 130px;
}

.btn .btn-outline-light{
  color:#000
}