.cart-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.cart-item button {
  background-color: #ff6262;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}